<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
     <meta name="author" content="">
     <link rel="icon" href="../../favicon.ico">

     <title>Quantum Random Walks</title>

     <!-- jQuery and AJAX - Google CDN -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

     <!-- Bootstrap core CSS -->
     <link href="/static/css/bootstrap.min.css" rel="stylesheet">

     <!-- Custom styles for this template -->
     <!--  Dropdown Box styling -->
     <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/dropdown.css')}}">

     <!-- script for Loading amount of selected elements -->
     <script type="text/javascript" src="{{url_for('static', filename='scripts/load_wgs.js')}}"> </script>

     <!-- Sliders -->
     <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-slider.css')}}">
     <script type="text/javascript" src="{{url_for('static', filename='scripts/bootstrap-slider.js')}}"> </script>

 </head>

 <body>

 <br/>
 <center>
   <h1> Quantum Walker </h1>
 </center>
 <br/>
 <h4> Select the number of waveguides you wish to walk over. </h4>

   <div class="num_wg_select">
     <div class="dropdown tab">
       <button onclick="wg_num_select()" class="dropbtn" id="dropbtn">Select Waveguides</button>

       <div id="myDropdown" class="dropdown-content">
         <a onclick="load_num_wgs(1)" id="wg" class="wg_sel">1</a>
         <a onclick="load_num_wgs(2)" id="wg" class="wg_sel">2</a>
         <a onclick="load_num_wgs(3)" id="wg" class="wg_sel">3</a>
         <a onclick="load_num_wgs(4)" id="wg" class="wg_sel">4</a>
         <a onclick="load_num_wgs(5)" id="wg" class="wg_sel">5</a>
         <a onclick="load_num_wgs(6)" id="wg" class="wg_sel">6</a>

         <!-- text-box for 'other' amount added via javascript -->
       </div>


     </div>
     <!-- Displays for structure parameters - Show Hamiltonian? -->

     

   </div>
 <input id="wg_len" class="wg_len" type='input' value="Structure Length (M)", onchange="_process_from_checkbox()">


 <!-- Div for sliders n such -->
 <div class='sim_data' id='sim_data'>
   <div class="var_input" id="input_var">

     <!-- Empty div spaces for components -->
     <div class="coupling_container input_def" id="coupling">
     </div>

     <div class="waveguides input_def" id="waveguides">
     </div>

     <div class="inline_results">
       <img id="hist_plot_sp" class="result_plot" type="png" style="display: none;"/>
       <img id="corr_plot" class="result_plot" type="png" style="display: none;"/>
     </div>

   </div>

   <div class="results" id="results">
     <!-- <img id="corr_plot" class="result_plot" type="png"/> -->
     <img id="prop_plot" class="result_plot" type="png" style="display: none;"/>
     <img id="hist_plot" class="result_plot" type="png" style="display: none;"/>

   </div>

 </div>

<!-- Calling Python script: -->
<!-- https://stackoverflow.com/questions/15151133/execute-a-python-script-on-button-click -->

<!-- End of document JS scripts. -->
<!-- Dropdown behavior -->
<script type="text/javascript" src="{{url_for('static', filename='scripts/dropdown.js')}}"> </script>

 <!-- Formatting input divs -->
 <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/input_divs.css')}}">


<!-- Collect and send variables to simulation -->
<!-- <script type="text/javascript" src="{{url_for('static', filename='scripts/dropdown.js')}}"> </script> -->

</body>



 </html>
