{{extend 'layout.html'}}

<center> <h1>Quantum Simulator</h1> </center>


<h3>{{=title}}</h3>
{{=sub}}


{{=FORM(CENTER(TABLE(TR(
            TD(INPUT(_id="check", _value="", _type="hidden", name='check')),
            TD(A(IMG(_src=URL('static', 'wg_str.png')), _name="me", _id="me",
                        callback=URL('plot'), target="target", _class="wg")),
        TR(
            TD(LABEL(_id="check2")),
            TD(A(IMG(_src=URL('static', 'wg_str.png')), _name="me", _id="me2",
                        callback=URL('simulate'), target="target", _class="wg")))))))
}}

<br /> <br />

{{=CENTER(
    FORM(
        INPUT(_onclick="clicked(this); return false;",
                        _class="", _name="wg1", _id="wg1", _value='1',
                        _type="image", _src=URL('static', 'wg_str.png')),
                        _name="waveguide_1", _id="waveguide_1"),
        INPUT(_onclick="clicked(this); return false;",
                        _class="", _name="wg2", _id="wg2", _value='2',
                        _src=URL('static', 'wg_str.png')))}}

                                        <!-- _value='2', _name="wg2", _id="wg2", _type="image", -->
                                                <!-- _src=URL('static', 'wg_str.png')))}} -->
                                        <!-- the name tag determines what is seen in controller (currently) -->


<div id="response"> </div>
<div id="list" class="list" name=list> </div>

<!--
2nd March
Endeavoring to get the list div sent to the controller via ajax.
    - The input will work via ajax provided _type is not hidden or image

    List contains value of each waveguide, with " " delimiters.
        - Determine better data structure!
 -->

<script type="text/javascript">
function clicked(el, chkbox){
    console.log($(this));
    // var waveguide_1 = $(this).attr("waveguide_1")

    if($(el).hasClass("active")){
        // el[wg1] gets element with ID=wg1
        $(el).removeClass("active");
        $(el).value = '0';
    }else{
        // if ($(el[wg1])){
        //     jQuery('.list').append('1 ')
        //     ajax('{{=URL("post")}}', 'wg1', 'response')
        // }
        // else if ($(el[wg2])){
        //     jQuery('.list').append('2 ')
        // }
        jQuery('.list').append(el.value)
        jQuery('.list').append(" ")
        console.log("made ", el, "active")
        $(el).addClass("active");
        $(el).value = '1';
    }
    post();
}

function post(){
    ajax('{{=URL("post")}}', ['waveguide_1', 'wg1', 'wg2'], 'response');
}
</script>

<br /> <br />

<!-- {{
    print request._vars
pass
}} -->

<embed id="target" />
<figure>
    <embed id="target" />
</figure>
<br /><br /><br />

<!-- from real:

<script type="text/javascript">
function clicked(el){
    // console.log($(this));
    // var waveguide_1 = $(this).attr("waveguide_1")

    if($(el).hasClass("active")){
        // el[wg1] gets element with ID=wg1
        $(el).removeClass("active");
        el.value = '0';
    }else{
        // if ($(el[wg1])){
        //     jQuery('.list').append('1 ')
        //     ajax('{{=URL("post")}}', 'wg1', 'response')
        // }
        // else if ($(el[wg2])){
        //     jQuery('.list').append('2 ')
        // }
        // jQuery('.list').append(el.value)
        // jQuery('.list').append(" ")
        // console.log("made ", el, "active")
        $(el).addClass("active");
        el.value = '1';
    }
    post(el);
}

function post(el){
    $.post('{{=URL("live_post")}}', [el], 'response')
}
</script>



  -->
