
<h3>{{=title}}</h3>

{{=sub}}
</center>

{{=form1}}

{{=wg1}}

{{=wg2}}

<script>
jQuery('.wg1').onchange(function(){jQuery('.wg_2').hide()})
</script>

{{=form}}
{{=bool}}



<!-- <a class="btn btn-default" callback=URL('button_click') role="button">Link</a> -->

<!-- {{=submit}}
{{=form}} -->
<!--
<form>
    <INPUT type="button" value="Straight Waveguide" onclick="ajax('{{=URL('button_click')}}', "me");"/>
</form> -->



<!-- <a class="btn btn-default" callback=URL('button_click') role="button">Link</a> -->

<!-- {{=submit}}
{{=form}} -->
<!--
<form>
    <INPUT type="button" value="Straight Waveguide" onclick="ajax('{{=URL('button_click')}}', "me");"/>
</form> -->


<br /><br /><br />
