.num_wg_select{
  /*display:flex;*/
  /*left: 2%;*/
  /*display:grid;*/
}

#wg_len{
  position: relative;
  left: 2%;
  height: 20px;
  width: 135px;
}

/*Container for all inputs*/
#input_var{
  /*display: flex;*/
  position: relative;
  /*left: 10px;*/
  /*background: cyan;*/
  height: 100%;

  white-space: nowrap;

  /*border: 2px solid blue;*/
}

/* Vertical Coupling Slider Containing Div. Not actual slider!*/
#coupling{
  position: absolute;
  left: 2%;
  top: 56px;
  /*top: 10%;*/
}

.comb_input{
  /*background: red;*/
  /*border: 2px solid purple;*/
  position: relative;
  left: 8%;
  display: inline-flex;
  border: 2px solid black;
  width: 33%;
}

#pad_label{
  /*border: 1px solid green;*/
  /*position: relative;*/
  width: 2%;
  padding-left: 5px;
  padding-right: 7px;
}

.beta_label{
  width: 2%;
  padding-left: 5px;
  padding-right: 60px;
}

#wg_num_label{
  padding-left: 5px;
  padding-right: 5px;
}
/* Div holding photon checkboxes..*/
#photons{
  height: 100%;
  /*padding-top: 6%;*/
  /*padding-bottom: 6%;*/
  position: absolute;
  left: 9%;

  /*border: 2px solid green;*/
  /*padding: 10%;*/
}

/*Inline Results*/
#hist_plot_sp{
  position: absolute;
  top: 0%;
  left: 41%;
  height: 100%;
  width: 65%;
}

#corr_plot{
  position: absolute;
  top: -10%;
  left: 41%;
  height: 120%;
  width: 65%;

}

.results{
  position: absolute;
  /*width: 100%;*/
  height: 75%;
}

#hist_plot{
  /*top: -5%;*/
  position: relative;
  /*position: absolute;*/
  /*height: 65%;*/
  width: 100%;

  /*border: 2px solid green;*/
}

#prop_plot{
  position: relative;
  left: -10%;
  height: 75%;
  width: 118%;
  /*width: 122%;*/
  overflow: hidden;
  /*width: 100%;*/
  /*left: 5%;*/
}
